{% extends 'myShop/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/mainapp/style.css' %}">
{% endblock %}

{% block inn %}
<div class="hero-white">
    <div class="header clearfix">
        {% include 'myShop/includes/main_menu.html' %}
{#        <a href="#" class="basket"></a>#}
    </div>
</div>

<div class="details">
    <div class="links clearfix">
        <ul class="links-menu">

<!--            <li><a href="#" class="active">все</a></li>-->
<!--            <li><a href="#">дом</a></li>-->
<!--            <li><a href="#">офис</a></li>-->
<!--            <li><a href="#">модерн</a></li>-->
<!--            <li><a href="#">классика</a></li>-->
            <li><a href="{% url 'products:category' 0 %}"
                   class="{% if request.resolver_match.kwargs.pk == 0 %} active
            {% endif %} ">
                все
            </a>
            </li>
            {% for cat_product in cat_products %}
                <li>
                    <a href="{% url 'products:category' cat_product.pk %}"
                       class="{% if request.resolver_match.kwargs.pk|add:'0' == cat_product.pk %} active
                                        {% endif %}">
                                {{ cat_product.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
{#                <img src="{% static '/mainapp/img/slider1.jpg' %}">#}
                <img src="/media/{{ hot_product.image }}">
            </div>
            <div class="slider-control">
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.image }}" alt="" class="slider-control-min">
                        <div class="text">1</div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.image }}" alt="" class="slider-control-min">
                        <div class="text">2</div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.image }}" alt="" class="slider-control-min">
                        <div class="text">3</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{ hot_product.name }}</h3>
            <h3 class="red">горячее предложение {% now "d.m.Y"%}</h3>
            <p class="price">{{ hot_product.price }}<span>руб</span></p>
            <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                <p>{{ hot_product.short_desc }}</p>
            </div>
        </div>
    </div>

    <div class="products_list">
        <div class="title clearfix">
            {% if category %}
                <h2>
                    Категория: "{{ category.name|title }}"
                </h2>
            {% endif %}
        </div>
        <br>
{#        <div class="category-products clearfix">#}
        <div class="related-products clearfix">
            {% for product in products %}
                <div class="block">
                                <a href="#"><img src="/media/{{ product.image }}" alt="product">
                                    <div class="text">
                                        <img src="{% static '/mainapp/img/icon-hover.png' %}" alt="hover">
                                        <h4>{{ product.name }}</h4>
                                        <p>{{ product.short_desc }}</p>
                                    </div>
                                </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="related">
        <div class="title clearfix">
            <h2>Похожие продукты</h2>
            <a class="explore" href="#">показать все <img src="img/arrow.png" alt=""></a>
        </div>
        <div class="related-products clearfix">
            {% for product in same_products %}
                <div class="block">
                                <a href="{% url 'basket:add' pk=product.pk %}"><img src="/media/{{ product.image }}" alt="">
                                    <div class="text">
                                        <img src="{% static '/mainapp/img/icon-hover.png' %}" alt="img">
                                        <h4>{{ product.name }}</h4>
                                        <p>{{ product.short_desc }}</p>
                                    </div>
                                </a>
                </div>
            {% endfor %}




        </div>
    </div>
</div>
{% endblock %}
